{{define "createFactPage"}}
<!DOCTYPE HTML>
<html>
{{template "htmlhead" .}}

<body>

	<div id='layout'>
		
		{{template "navbar" .}}

		<div id="main">

			<div class="header">
		        <h1>hey.fyi</h1>
		    </div>

		    {{template "notifications" .}}

		    <div class="content">
		    	<h2 class="content-subhead">Create a new fact!</h2>
		        <form class="pure-form pure-form-aligned" action="" method="POST">
				    <fieldset>
				        <div class="pure-control-group">
				            <label for="Fact">Fact Heading</label>
				            <input class='pure-input-2-3' id="Fact" name="Fact" type="text" placeholder="The short version of your fact." value='{{.Data.Fact}}' required autocomplete="off">
				        </div>

				        <div class="pure-control-group">
				            <label for="Explain">Explain</label>
				            <input class='pure-input-2-3' id="Explain" name="Explain" type="text" placeholder="This is the first part of your explanation." required autocomplete="off" value='{{.Data.Explain}}'>
				        </div>

				        <div class="pure-control-group">
				            <label for="ExplainFurther">Explain Further</label>
				            <input class='pure-input-2-3' id="ExplainFurther" name="ExplainFurther" type="text" placeholder="This is the second part of your explanation." required autocomplete="off" value='{{.Data.ExplainFurther}}'>
				        </div>

				        <div id="references" class="pure-form pure-form-aligned">
				        	<div id="reference0">
					        	<h2 class="content-subhead">Reference 1</h2>
						        <div class="pure-control-group">
						        	<label for="References.0.Url">URL</label>
					            	<input class='pure-input-2-3' id="References.0.Url" name="References.0.Url" type="text" placeholder="http://example.com" required autocomplete="off">
						        </div>

						         <div class="pure-control-group">
						        	<label for="References.0.Publisher">Author/Publisher</label>
					            	<input class='pure-input-2-3' id="References.0.Publisher" name="References.0.Publisher" type="text" placeholder="Example Media Corp" required autocomplete="off">
						        </div>

						         <div class="pure-control-group">
						        	<label for="References.0.Title">Page Title</label>
					            	<input class='pure-input-2-3' id="References.0.Title" name="References.0.Title" type="text" placeholder="An example webpage" required autocomplete="off">
						        </div>
					    	</div>
					    	<div id="reference1">
					        	<h2 class="content-subhead">Reference 2</h2>
						        <div class="pure-control-group">
						        	<label for="References.1.Url">URL</label>
					            	<input class='pure-input-2-3' id="References.1.Url" name="References.1.Url" type="text" placeholder="http://example.com" required autocomplete="off">
						        </div>

						         <div class="pure-control-group">
						        	<label for="References.1.Publisher">Author/Publisher</label>
					            	<input class='pure-input-2-3' id="References.1.Publisher" name="References.1.Publisher" type="text" placeholder="Example Media Corp" required autocomplete="off">
						        </div>

						         <div class="pure-control-group">
						        	<label for="References.1.Title">Page Title</label>
					            	<input class='pure-input-2-3' id="References.1.Title" name="References.1.Title" type="text" placeholder="An example webpage" required autocomplete="off">
						        </div>
					    	</div>
				    	</div>

				        <div class="pure-controls">
				        	<button type="submit" class="pure-button pure-button-success">Submit Fact</button>
				           	<a class="pure-button pure-button-primary" onclick="addReference()">Add additional reference</a>
				           	<a class="pure-button pure-button-warning" onclick="removeReference()">Remove last reference</a>
				        </div>
				    </fieldset>
				</form>
		    </div>
		</div>
	</div>
</body>

{{template "scripts" .}}
</html>
{{end}}