{{define "deleteFactPage"}}
<!DOCTYPE HTML>
<html>
{{template "htmlhead" .}}

<body>

	<div id='layout'>
		
		{{template "navbar" .}}

		<div id="main">

			<div class="header">
		        <h1>hey.fyi</h1>
		    </div>

		    {{template "notifications" .}}

		    <div class="content">
		    	<h2 class="content-subhead">Delete "{{.Data.Fact}}"?</h2>
		        <form class="pure-form pure-form-aligned" action="" method="POST">
				    <fieldset>

				       <div class="pure-controls">
				            <button type="submit" class="pure-button pure-button-warning">Confirm and delete</button>
				        </div>
				    </fieldset>
				</form>
		    </div>
		</div>
	</div>
</body>

{{template "scripts" .}}
</html>
{{end}}