{{define "homePage"}}
<!DOCTYPE HTML>
<html>
{{template "htmlhead" .}}

<body>

	<div id='layout'>
		
		{{template "navbar" .}}

		<div id="main">

			{{template "notifications" .}}

			<div class="header">
		        <h1>hey.fyi</h1>
		    </div>

		    <div class="content">

		    	<h2 class="content-subhead">What is this even?</h2>
		        <p>
		            This is a website dedicated to short, referenced facts. It is intended to be used as a citations source for use when required.
		    	</p>
		    	<p>
		    		Facts can be voted on by registered members. Users start with 10 votes, and from then on get one vote per hour to spend.
		    	</p>
		    	<p>
		    		Users can vote multiple times on a single fact.
		    	</p>
		    	<p>
		    		To avoid bias, it is never visible who posts a given fact.
		    	</p>
		    	<p>
		    		Facts will be moderated before they are visible to all users.
		    	</p>
		        <p>
		        	hey.fyi is written as a demo web application in the Go programming language.
		        </p>

		        <div class="pure-g">
		            <div class="pure-u-1-4">
		                <img class="pure-img-responsive" src="http://farm3.staticflickr.com/2875/9069037713_1752f5daeb.jpg" alt="Peyto Lake">
		            </div>
		            <div class="pure-u-1-4">
		                <img class="pure-img-responsive" src="http://farm3.staticflickr.com/2813/9069585985_80da8db54f.jpg" alt="Train">
		            </div>
		            <div class="pure-u-1-4">
		                <img class="pure-img-responsive" src="http://farm6.staticflickr.com/5456/9121446012_c1640e42d0.jpg" alt="T-Shirt Store">
		            </div>
		            <div class="pure-u-1-4">
		                <img class="pure-img-responsive" src="http://farm8.staticflickr.com/7357/9086701425_fda3024927.jpg" alt="Mountain">
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</body>

{{template "scripts" .}}
</html>
{{end}}