{{define "listFactsPage"}}
<!DOCTYPE HTML>
<html>
{{template "htmlhead" .}}

<body>

	<div id='layout'>
		
		{{template "navbar" .}}

		<div id="main">

			{{template "notifications" .}}
			{{$account := .Account}}
		    <div class="header">
		        <h1>hey.fyi</h1>
		    </div>

		    <div class="content">
		    	{{range $index, $fact := .Data.Facts}}
		         
		        <p>
		            <a href='{{GetViewFactUrl $fact.Id}}'>{{$fact.Fact}}</a>
		            {{if $account}}{{if eq $fact.AccountId $account.Id}}<span class="pure-badge-info">You submitted this!</span>{{end}}{{end}}
		            {{if $fact.AwaitModeration}}<span class="pure-badge-warning">Awaiting Moderation</span>{{end}}
		    	</p>
		       
		        {{end}}
				
		    </div>
		</div>
	</div>
</body>

{{template "scripts" .}}
</html>
{{end}}