{{define "signUpPage"}}
<!DOCTYPE HTML>
<html>
{{template "htmlhead" .}}

<body>

	<div id='layout'>
		
		{{template "navbar" .}}

		<div id="main">

			<div class="header">
		        <h1>hey.fyi</h1>
		    </div>

		    {{template "notifications" .}}

		    <div class="content">
		    	<h2 class="content-subhead">Sign up for an account</h2>
		        <form class="pure-form pure-form-aligned" action="" method="POST">
				    <fieldset>
				        <div class="pure-control-group">
				            <label for="email">Email Address</label>
				            <input id="email" name="Email" type="text" placeholder="Email" value='{{.Data.Email}}'>
				        </div>

				        <div class="pure-control-group">
				            <label for="Nickname">Nickname</label>
				            <input id="Nickname" name="Nickname" type="text" placeholder="Nickname" value='{{.Data.Nickname}}' maxlength="15">
				        </div>

				        <div class="pure-control-group">
				            <label for="Password">Password</label>
				            <input id="Password" name="Password" type="password" placeholder="Password">
				        </div>

				         <div class="pure-control-group">
				            <label for="ConfirmPassword">Confirm Password</label>
				            <input id="ConfirmPassword" name="ConfirmPassword" type="password" placeholder="Password">
				        </div>

				        <div class="pure-controls">
				            <label for="TermsCB" class="pure-checkbox">
				                <input id="TermsCB" name="TermsCB" type="checkbox"> I've read the terms and conditions
				            </label>

				            <button type="submit" class="pure-button pure-button-success">Register</button>
				        </div>
				    </fieldset>
				</form>
		    </div>
		</div>
	</div>
</body>

{{template "scripts" .}}
</html>
{{end}}